<a href="https://colab.research.google.com/github/sathsaraRasantha/LOL_dataset_neural_network_with_tensorflow/blob/master/Neural_Network_LOL_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving cleaned_final.csv to cleaned_final.csv

In [2]:
import pandas as pd
import io

io.StringIO(uploaded["cleaned_final.csv"].decode("utf-8"))
data=pd.read_csv(io.StringIO(uploaded["cleaned_final.csv"].decode("utf-8")))
data.head()

   blueWins  blueFirstBlood  ...  redCSPerMin  redGoldPerMin
0         0               1  ...         19.7         1656.7
1         0               0  ...         24.0         1762.0
2         0               0  ...         20.3         1728.5
3         0               0  ...         23.5         1647.8
4         0               0  ...         22.5         1740.4

[5 rows x 26 columns]

In [3]:
import tensorflow as tf
print (tf.version)

<module 'tensorflow._api.v2.version' from '/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/version/__init__.py'>

In [4]:
import numpy as np
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [5]:
data.columns

Index(['blueWins', 'blueFirstBlood', 'blueActiveWards', 'blueKills',
       'blueAssists', 'blueDragons', 'blueHeralds', 'blueTowersDestroyed',
       'blueAvgLevel', 'blueTotalExperience', 'blueTotalMinionsKilled',
       'blueTotalJungleMinionsKilled', 'blueCSPerMin', 'blueGoldPerMin',
       'redActiveWards', 'redKills', 'redAssists', 'redDragons', 'redHeralds',
       'redTowersDestroyed', 'redAvgLevel', 'redTotalExperience',
       'redTotalMinionsKilled', 'redTotalJungleMinionsKilled', 'redCSPerMin',
       'redGoldPerMin'],
      dtype='object')

In [6]:
data=data.drop(['blueWins', 'blueFirstBlood', 'blueActiveWards', 'blueKills',
       'blueAssists', 'blueDragons', 'blueHeralds', 'blueTowersDestroyed',
       'blueAvgLevel', 'redActiveWards', 'redKills', 'redAssists', 'redDragons', 'redHeralds',
       'redTowersDestroyed', 'redAvgLevel'],axis=1)
data

      blueTotalExperience  blueTotalMinionsKilled  ...  redCSPerMin  redGoldPerMin
0                   17039                     195  ...         19.7         1656.7
1                   16265                     174  ...         24.0         1762.0
2                   16221                     186  ...         20.3         1728.5
3                   17954                     201  ...         23.5         1647.8
4                   18543                     210  ...         22.5         1740.4
...                   ...                     ...  ...          ...            ...
9874                18967                     211  ...         22.9         1524.6
9875                19255                     233  ...         20.6         1545.6
9876                18032                     210  ...         26.1         1831.9
9877                17229                     224  ...         24.7         1529.8
9878                17321                     207  ...         20.1         1533.9

[9879 rows x 10 columns]

In [9]:
data2=pd.read_csv(io.StringIO(uploaded["cleaned_final.csv"].decode("utf-8")))
Y=data2['blueWins']
Y



X=data
X
#y=data['Class']
#y

      blueTotalExperience  blueTotalMinionsKilled  ...  redCSPerMin  redGoldPerMin
0                   17039                     195  ...         19.7         1656.7
1                   16265                     174  ...         24.0         1762.0
2                   16221                     186  ...         20.3         1728.5
3                   17954                     201  ...         23.5         1647.8
4                   18543                     210  ...         22.5         1740.4
...                   ...                     ...  ...          ...            ...
9874                18967                     211  ...         22.9         1524.6
9875                19255                     233  ...         20.6         1545.6
9876                18032                     210  ...         26.1         1831.9
9877                17229                     224  ...         24.7         1529.8
9878                17321                     207  ...         20.1         1533.9

[9879 rows x 10 columns]

In [10]:
X_train, X_test, y_train, y_test=train_test_split(X,Y,random_state=0)

In [11]:
print("X_train :", X_train.shape)
print("X_test :", X_test.shape)
print("y_train :", y_train.shape)
print("y_test :", y_test.shape)

X_train : (7409, 10)
X_test : (2470, 10)
y_train : (7409,)
y_test : (2470,)

In [12]:
X_train

      blueTotalExperience  blueTotalMinionsKilled  ...  redCSPerMin  redGoldPerMin
6249                18614                     220  ...         20.7         1647.7
3776                18000                     230  ...         21.2         1563.3
3488                19296                     250  ...         18.4         1624.5
6825                17620                     226  ...         24.5         1741.9
3814                18082                     242  ...         21.8         1621.7
...                   ...                     ...  ...          ...            ...
9225                18681                     270  ...         25.4         1561.0
4859                16684                     192  ...         19.5         1665.3
3264                18989                     247  ...         21.5         1467.6
9845                15500                     190  ...         24.3         1812.2
2732                15277                     171  ...         21.8         1794.7

[7409 rows x 10 columns]

In [13]:
y_train

6249    1
3776    1
3488    1
6825    0
3814    1
       ..
9225    1
4859    1
3264    1
9845    0
2732    0
Name: blueWins, Length: 7409, dtype: int64

In [14]:
X_train.reset_index(drop=True, inplace=True)
X_test.reset_index(drop=True, inplace=True)
print(X_train)
print(X_test)

      blueTotalExperience  blueTotalMinionsKilled  ...  redCSPerMin  redGoldPerMin
0                   18614                     220  ...         20.7         1647.7
1                   18000                     230  ...         21.2         1563.3
2                   19296                     250  ...         18.4         1624.5
3                   17620                     226  ...         24.5         1741.9
4                   18082                     242  ...         21.8         1621.7
...                   ...                     ...  ...          ...            ...
7404                18681                     270  ...         25.4         1561.0
7405                16684                     192  ...         19.5         1665.3
7406                18989                     247  ...         21.5         1467.6
7407                15500                     190  ...         24.3         1812.2
7408                15277                     171  ...         21.8         1794.7

[7409 rows x 10 columns]
      blueTotalExperience  blueTotalMinionsKilled  ...  redCSPerMin  redGoldPerMin
0                   16352                     221  ...         19.7         1646.3
1                   18617                     216  ...         22.5         1478.8
2                   17569                     209  ...         20.6         1836.3
3                   17558                     213  ...         22.3         1754.3
4                   16466                     223  ...         17.9         1700.0
...                   ...                     ...  ...          ...            ...
2465                17876                     224  ...         22.2         1499.8
2466                16558                     211  ...         24.8         1579.2
2467                15827                     194  ...         21.6         1934.4
2468                15124                     183  ...         23.6         1924.0
2469                19438                     231  ...         19.2         1635.7

[2470 rows x 10 columns]

In [15]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [28]:
model = Sequential()
model.add(Dense(16, activation = 'relu', input_dim = 10))
model.add(Dense(128, activation = 'softmax'))
model.add(Dense(128, activation = 'softmax'))
model.add(Dense(1, activation = 'sigmoid'))

model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

model.fit(X_train, y_train, batch_size = 10, epochs = 10)

Epoch 1/10
741/741 [==============================] - 1s 1ms/step - loss: 0.6742 - accuracy: 0.6500
Epoch 2/10
741/741 [==============================] - 1s 1ms/step - loss: 0.6084 - accuracy: 0.7260
Epoch 3/10
741/741 [==============================] - 1s 1ms/step - loss: 0.5751 - accuracy: 0.7299
Epoch 4/10
741/741 [==============================] - 1s 1ms/step - loss: 0.5592 - accuracy: 0.7301
Epoch 5/10
741/741 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7310
Epoch 6/10
741/741 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7310
Epoch 7/10
741/741 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7321
Epoch 8/10
741/741 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7333
Epoch 9/10
741/741 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7348
Epoch 10/10
741/741 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7340

In [29]:
y_pred = model.predict_classes(X_test)
y_pred

array([[0],
       [1],
       [0],
       ...,
       [0],
       [0],
       [1]], dtype=int32)

In [30]:
confusion_matrix(y_test, y_pred)

array([[902, 348],
       [358, 862]])

In [31]:
model.evaluate(X_test, y_test)

78/78 [==============================] - 0s 919us/step - loss: 0.5487 - accuracy: 0.7142

[0.5487039685249329, 0.7141700387001038]